div {
width: 100px;
height: 100px;
padding: 10px;
border: 10px solid purple;
}

.sem-border-box {
background-color: burlywood;
}

.com-border-box {
background-color: greenyellow;
box-sizing: border-box;
}