body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.slider-imagens {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}

.slider-imagens .slide {
  position: absolute;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%; /* Sem definir o width e o height a bg image só aparece em volta do conteúdo (descrição da imagem) */
  transition: 0.5s ease-in-out;
  opacity: 0; /* Esconde todos os slides e só mostra o que tiver a classe "mostrar" */
}

.slider-imagens .slide.mostrar {
  opacity: 1; /* O elemento de classe "slide" e classe "mostrar" aparece, enquanto os outros permanecem escondidos */
}

.slide-rosa {
  background-image: url("../images/imagem-1.png");
}

.slide-amarelo {
  background-image: url("../images/imagem-2.png");
}

.slide-roxo {
  background-image: url("../images/imagem-3.png");
}

.slide-azul {
  background-image: url("../images/imagem-4.png");
}

.descricao {
  width: 38rem;
  height: 44rem;
  padding: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-left: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descricao h1 {
  font-weight: 400;
  font-size: 2.8rem;
}

.link {
  font-weight: 700;
  font-size: 1.8rem;
}

.link.rosa {
  color: #c50000;
}

.link.amarelo {
  color: #d9dd10;
}

.link.roxo {
  color: #a63a17;
}

.link.azul {
  color: #10acdd;
}

.seta-voltar,
.seta-avancar {
  position: absolute;
  z-index: 1; /* position absolute e z-index 1 para que a seta sobresaia o elemento de classe slide e apareça na tela */
  width: 3rem;
}

.seta-voltar {
  transform: rotate(180deg);
  left: 6rem;
}

.seta-avancar {
  right: 6rem;
}

.opacidade {
  opacity: 0.6;
  cursor: default; /* para a seta ficar sem clique */
}

.mostrar {
  opacity: 1;
}
