/* Configurações globais */

:root {
  --background-color: #bface0;
  --text-color: #6a6f81;
  --card-color: #d3d3d3;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-color: var(--background-color, violet);
  font-family: "Kumbh Sans", sans-serif;
}

/* Configurações de fonte e imagem */

.profile-pic {
  width: 40%;
  border-radius: 50%;
  padding: 10px;
}

.name,
.age,
span {
  font-weight: 700;
}

.text-color {
  color: var(--text-color);
}

.darker-text-color {
  color: rgb(39, 39, 39);
}

/* Containers */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--card-color, lightgrey);
  width: 300px;
  height: 350px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 10px;
}

.location {
  padding: 10px;
  margin-bottom: 15px;
}

.status {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 32px;
}

.followers,
.likes,
.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
