@media (max-width: 650px) {
  .title,
  .menu-items {
    font-size: 40px;
  }

  .header {
    flex-direction: column;
    gap: 100px;
  }

  .menu-items {
    flex-direction: column;
    height: 540px;
  }

  .menu-items li a:not(.register-btn a) {
    padding: 15px 40px;
  }

  .register-btn {
    padding: 15px 20px;
  }

  .register-btn a {
    font-size: 18px;
  }
}
