@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap");

:root {
  --brand-color: #5bc241;
  --default-font: "Public Sans", sans-serif;
}

body {
  font-weight: 400;
  font-family: var(--default-font);
  font-size: 15px;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;
}

.menu-items {
  width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items li a {
  transition: 0.2s ease-in-out;
  padding: 10px 5px;
}

.menu-items li a:hover {
  background-color: var(--brand-color);
  color: #fff;
}

.register-btn {
  padding: 10px 20px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 10px;
}

.register-btn a {
  color: #fff;
  font-weight: 300;
}
