/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

html {
  font-size: 62.5%;
}

body {
  background: url("../images/bg-desktop.svg") var(--bg-color) no-repeat;
  background-size: cover;
  font-size: 1.6rem;
}

.header .logo {
  margin: 50px 0 55px 70px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .illustration {
  width: 700px;
  margin-left: 50px;
}

.main .infos {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
}

.main .infos h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  width: 65%;
}

.main .infos p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main .infos a {
  width: 170px;
  padding: 12px 0;
  border-radius: 25px;
  text-align: center;
  background-color: #fff;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin: 30px 30px 20px 0;
}

.social i {
  margin-right: 15px;
  width: 38px;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header .logo {
    width: 200px;
    margin: 40px 0 50px 50px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .main .illustration {
    width: 300px;
    margin: 0 auto;
  }

  .main .infos {
    text-align: center;
    font-size: 1.8rem;
  }

  .main .infos h1 {
    width: 100%;
  }

  .main .infos a {
    align-self: center;
    width: 20rem;
  }

  .social {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
  }
}
